@model SiteReceitas.Models.Ingrediente

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Ingrediente</h1>

<h4>Ingrediente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeIngrediente" class="control-label"></label>
                <input asp-for="NomeIngrediente" class="form-control" />
                <span asp-validation-for="NomeIngrediente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnidadeMedida" class="control-label"></label>
                <input asp-for="UnidadeMedida" class="form-control" />
                <span asp-validation-for="UnidadeMedida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceitaId" class="control-label"></label>
                <select asp-for="ReceitaId" class="form-control" asp-items="ViewBag.ReceitaId"></select>
                <span asp-validation-for="ReceitaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-info" asp-action="Index">Voltar</a> |
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
